h1{ 
  letter-spacing: 7px;
  font-weight: 500;
  text-justify : center;
  font-size: 25px;
}

h1, h2, h3{
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
h2, h3{
  font-weight: 400;
}
.card#intro img {
  width: 360px;
  height: 250px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.card:nth-of-type(2) img {
  width: 240px; 
  height: auto; 
}
img{
  width: 420px;
  height: 240px;
}
a{
  text-decoration: none;
  color : white;
  font-family: helvetica;
  font-weight: bolder;
}
p{
  color: #8c8c8c;
  font-family: 'Crimson Text', serif;
}
.card {
  background: rgba(18,44,90,5);
  padding: 38px;
  margin: 40px 0px;
  box-shadow: 0px 10px 40px rgba(255, 255, 255, 1);
  border-radius: 5px;
  text-align: center;
}
#container {
  background: rgba(100, 149, 237, 1); ;
    width: 900px;
    margin: 70px auto;
    padding: 40px 100px;
  border-radius: 4px;
}
#card-contact{
  padding: 60px;
  margin: 40px 0px;
  text-align: center;
}
#text-center{
  text-align: center;
}

.btn-black{
  background-color: #4169E1;
  color: #fff;
  padding : 15px 20px;
  border-radius: 5px;
  border-radius: 50px;
}
.btn-black:hover {
  background-color: #fff;
  color: #820f8a;
}
.list{
  list-style: none;
  padding-left: 0px;
}
.list li{
  padding: 8px;
}
li{
  color: #8c8c8c;
}
.list i{
  font-size: 60px;
  color: #4169E1;
}
.list i:hover{
  color: rgb(230, 230 ,230);
}
#list-inline li{
  display: inline;
}
#intro p {
  margin-bottom: 30px;
}
.img-circle {
  border-radius: 50%; 
}